<header class=" m-2">
    <nav class="flex  items-center justify-between p-2 lg:px-8 rounded-full  border-slate-400 border "
        aria-label="Global">
        <div class="flex flex-1">
            <a routerLink="/" class="-m-1.5 p-1.5">
                <span class="sr-only">Your Company</span>
                <img class="h-12 w-auto" src="../../assets/img/logo.png" alt="">
            </a>
        </div>

        <div class="flex gap-x-12">
            <app-nav-link href="list">Lista zadań</app-nav-link>
        </div>
        <div class="flex flex-1 justify-end space-x-4">

            @if (localStorage.getItem('token')) {
            <p class="text-sm font-semibold text-gray-900 ">{{localStorage.getItem('username')}}</p>
            <span class="text-sm font-semibold mr-3 text-gray-900 ">|</span>
            <button (click)="signout()"
                class="text-sm font-semibold mr-3 text-gray-900 transition ease-in-out  duration-300 hover:text-blue-600">Wyloguj
                się </button>
            }
            @else {
            <app-nav-link href="login">Zaloguj się </app-nav-link>
            <app-nav-link href="register">Zarejestruj się </app-nav-link>
            }
        </div>
    </nav>

</header>